@model ShoppingCart
<h2></h2>
<form method="post" asp-controller="ShoppingCart" asp-action="CheckoutSelected">
    <div class="card shadow-lg p-4">
        <h2 class="text-center text-primary mb-3">Giỏ hàng của bạn</h2>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Tên sản phẩm </th>
                    <th>Số lượng </th>
                    <th>Giá</th>
                    <th>Tổng cộng </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {

                }
            </tbody>
        </table>
        <div class="text-center mt-4">
            <a class="btn btn-success btn-lg px-5 fw-bold shadow-sm" asp-controller="ShoppingCart" asp-action="Checkout">
                <i class="bi bi-bag-check"></i> Thanh toán
            </a>
        </div>
    </div>
</form>